.smurfs-app__app-name {
  text-align: center;
  font-family: $app-name-font-family;
  font-size: $app-name-font-size;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: $smurf-blue;
  letter-spacing: 5px;
  padding-left: 5px;
  margin-bottom: 62.5px;
}
