.smurfs-app__updatee {
  font-size: 2.25rem;
  font-weight: bold;
  color: $updatee-font-color;
  margin-bottom: 20px;

  &__name {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 1px;
  }
}

.smurfs-app__select-smurf {
  @include make-flex(row, space-evenly, center);

  margin-bottom: 37.5px;
}

.smurfs-app__no-smurfs-msg {
  font-size: 1.6rem;
  line-height: 2.5;
  margin-bottom: 37.5px;
}

.smurfs-app__info-display {
  position: relative;
  padding: 5px 20px;
  margin: 37.5px 0 75px;

  &__name {
    text-align: center;
    font-size: 3.2rem;
    font-weight: bold;
    color: $smurf-display-name-font-color;
    margin: 30px 0 50px;
  }

  &__update-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
  }

  &__info {
    font-size: 1.8rem;
    margin: 32.5px 30px;

    &__label {
      display: inline-block;
      width: 25%;
      font-weight: bold;
      color: $smurf-display-field-label-font-color;
    }

    &__value {
      display: inline-block;
      font-weight: bold;
    }
  }

  &__delete-btn {
    @include colorize-button(
      $delete-smurf-btn-bg-color,
      $delete-smurf-btn-font-color
    );

    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    padding: 7.5px 8.75%;
    margin: 50px auto 0;
  }
}

.smurfs-app__new-info-form {
  margin-bottom: 50px;

  &__field {
    margin-bottom: 37.5px;
    &__label {
      display: block;
      font-weight: bold;
      color: $label-font-color;
      letter-spacing: 1px;
      padding-left: 1px;
      margin-bottom: 12.5px;
    }

    &__input {
      @include smoothen-input-borders($input-focus-color);

      width: 100%;
      padding: 10px 0;
    }
  }

  &__action-buttons {
    @include make-flex(row, center, center);

    %action-button {
      width: 37.5%;
      font-size: 1.6rem;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      letter-spacing: 0.5px;
      padding: 10px 0 10px 0.5px;
      margin: 20px 5%;
    }

    &__clear {
      @include colorize-button(
        $clear-info-btn-bg-color,
        $clear-info-btn-font-color
      );
      @extend %action-button;
    }

    &__submit {
      @include colorize-button(
        $submit-info-btn-bg-color,
        $submit-info-btn-font-color
      );
      @extend %action-button;
    }
  }
}
